<div id="<%= dom_id insurance %>">
  <p>
    <strong>Notes:</strong>
    <%= insurance.notes %>
  </p>

  <p>
    <strong>Referral agent name:</strong>
    <%= insurance.referral_agent_name %>
  </p>

  <p>
    <strong>Referral agent email:</strong>
    <%= insurance.referral_agent_email %>
  </p>

</div>
