<h1>Editing insurance</h1>

<%= render "form", insurance: @insurance %>

<br>

<div>
  <%= link_to "Show this insurance", @insurance %> |
  <%= link_to "Back to insurances", insurances_path %>
</div>
