<h1>Editing property transaction</h1>

<%= render "form", property_transaction: @property_transaction %>

<br>

<div>
  <%= link_to "Show this property transaction", @property_transaction %> |
  <%= link_to "Back to property transactions", property_transactions_path %>
</div>
